<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo11.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.example.demo11.bean.User" >

        <id column="ID" property="id"  />
        <result column="USERNAME" property="userName"  />
        <result column="PASSWORD" property="passWord" />
        <result column="INFO" property="info"  />
    </resultMap>

    <select id="getUserPo" parameterType="String" resultMap="BaseResultMap">
        SELECT id, username, password, info FROM LG_ORG_USER
           WHERE username = #{name}
    </select>


</mapper>