<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--
  <script src="/webjars/jquery/jquery.min.js"></script>
-->
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>

</head>
<body>

<form action="">
    <div class="form-group input-group">
        <span class="input-group-addon"  ><i class="fa fa-user" ></i></span>
        <input type="text"  id="username" name="username" class="form-control" placeholder="账号">
    </div>
    <div class="form-group input-group">
        <span class="input-group-addon"  ><i class="fa fa-user" ></i></span>
        <input type="password" name="password" class="form-control" placeholder="密码">
    </div>
    <button type="button" onclick="reg()" class="btn">注册</button>
    <button type="button" onclick="login()"class="btn">登入</button>
</form>



</body>
</html>
<script>

    function login() {
        $.ajax({
            url:'/login',
            data:{name:$('#username').val(),password:$('#password').val()},
            type: 'post',
            datatype:'json',
            success:function (res) {
               console.log(res);
                if(res.message=='success'){
                    window.location.href='/index'
                }else{
                    alert('賬號密碼錯誤');
                    window.location.href='/loginIn'
                }
            }
        })
    }

    function reg(){
               window.location.href="/regIn"
    }



</script>